
.flex-container {  
  padding: 0;
  margin: 0 auto;
  list-style: none;
  
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  
  -webkit-flex-flow: column wrap;
  justify-content: space-around;
  flex-direction: column;
}

.row {
  display: flex;
  flex: 1;
  width: 100%;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
}

.col {
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}

.align-items-center {
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.justify-center {
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.carousel-container {
  width: 500px;
  height: 440px;
  margin: 0 auto;

  .myCarousel {
    display: block;
    width: 400px;
    height: 400px;
    overflow: hidden;
    position: relative;
    .row {
      align-items: center;
      height: 100%;
    }
    img {
      width: 400px;

    }
  }
  
  a {
    color: #916891;
  }
  
  ion-icon {
    font-size: 50px;
  }
}


.row-label {
  margin-bottom: 1em;
  justify-content: center;
  .label-item {
    span {
      font-family: "Poiret One";
      color:#916891;
      font-size: 2em;
    }
  }
}

.label-carousel {
  display: none;
}